
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    h2 {
        color: aqua;
    }
    img {
        border: solid 2px #fff;
    }
    .titleBar {
        color: #fff; background-color: darkcyan; font:bold 14px arial; display:block; height:20px; text-align:center;
    }
    .mybox {
        width: unset;
    } 
</style>

<h2>Countries</h2>

<div class="container" ng-app="angApp">
    <p ng-show="showError">{{error}}</p>
    <div class="row">
        <div class="span10" ng-controller="countryController">
            <div ng-hide="showMe">
                <div class="pagination">
                    <button ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <span>{{currentPage + 1}}/{{numberOfPages}}</span>
                    <button ng-disabled="currentPage >= countries.length / pageSize - 1" ng-click="currentPage = currentPage + 1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <table id="countries" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Country</th>
                            <th>Capital</th>
                            <th>Area</th>
                            <th>Population</th>
                            <th>GDP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="country in countries | firstPage: currentPage * pageSize | limitTo: pageSize">
                            <td><button ng-click="getCountryDetails(country.id)">{{country.id}}</button></td>
                            <td>{{country.name}}</td>
                            <td>{{country.capital}}</td>
                            <td>{{country.area | number}}</td>
                            <td>{{country.population | number}}</td>
                            <td>{{country.gdp | currency}}</td>
                        </tr>
                    </tbody>                        
                </table>                
            </div>            
            <div id="country" ng-hide="!showMe">
                <div>
                    <h4>{{nation.name}} Description</h4><p>{{nation.description}}</p>
                    <figure style="display:inline-block"><img src="~/img/img_flag_{{nation.id}}.jpg" /><figcaption>{{nation.name}} Flag</figcaption></figure>
                    <figure style="display:inline-block"><img src="~/img/img_map_{{nation.id}}.jpg" /><figcaption>{{nation.name}} Map</figcaption></figure>
                </div>
                <div>
                    <div><button ng-click="goBack()">Go back</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
