
@{
    ViewBag.Title = "State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        color: darksalmon;
    }
</style>

<script src="~/Scripts/react/react.min.js"></script>
<h1>State</h1>

<div id="content"></div>
<script src="@Url.Content("~/Scripts/jsx/State.jsx")"></script>