
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.container 
    {
        color:aqua;
    }
</style>

<h2>Hello Angular</h2>

<div class="container" ng-app>
    <p>Hello, Angular! {{1 + 1}} @Model!</p>
</div>