body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#countries,
#country
{
    color: aliceblue;
}

.pagination span
{
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    color: aqua;
}

.pagination button:disabled 
{
    background-color: #ddd;
    color: azure;
    cursor: default;
}

.pagination button 
{
    background-color: #808080;
    cursor: default;
}