@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6 Sherry Ln.<br />
    Whippany, NJ 07981<br />
    <abbr title="Phone">P:</abbr>
    201.602.1574
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:wphr2101@hotmail.com">wphr2101@hotmail.com</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/richard-wu-3576b03/" target="_blank">LinkedIn</a><br />
</address>