@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .col-md-4 {
        margin-top:7px;
    }
    .col-md-4 p.article{
        height:150px;
        overflow-y:auto;
    }
    .col-md-4 img{
        padding:10px 4px;
        border-radius:12px;
    }
</style>
<div class="jumbotron" style="background-color: darkseagreen">
    <h1>Richard Wu's Personal Projects</h1>
    <p class="lead">Richard Wu's personal work projects.</p>

</div>

<div class="row">
    <div class="col-md-4" style="background-color: cadetblue">
        <img src="~/img/dotnetmvc.jpg" /><img src="~/img/html5css3.jpg" /><img src="~/img/js.jpg" /><img src="~/img/sqlsvr.jpg" />
        <h2>Getting started</h2>
        <p class="article">
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p class="btn-group">
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            <a class="btn btn-default" href="/Home/jstest">JavaScript Test</a>
            <a class="btn btn-default" href="/Employee">Employee</a>
            <a class="btn btn-default" href="/Dept">Department</a>
        </p>

    </div>
    <div class="col-md-4" style="background-color: peru">
        <img src="~/img/js.jpg" /><img src="~/img/oojs.jpg" /><img src="~/img/es6.jpg" />
        <h2>OO JS</h2>
        <p class="article">
            Objects in JavaScript are everywhere. Whether you know it or not, you've been using them already. You can use the
            document object to find HTML elements and modify their contents. You've been using the console to log out values.
            However, you can make your own objects to organize your own code and do some awesome things.
        </p>
        <p class="btn-group">
            <a class="btn btn-info" href="https://teamtreehouse.com/library/objectoriented-javascript" target="_blank">OOJS</a>
            <a class="btn btn-default" href="/Home/oojs">Basics</a>
            @*<a class="btn btn-default disabled" href="/Home/OOJSInheritance">Inheritance</a>*@
            <a class="btn btn-default" href="/Home/ES6">ECMAScript 2015</a>
        </p>
    </div>
    <div class="col-md-4" style="background-color: crimson">
        <img src="~/img/angular.jpg" />
        <h2>AngularJS</h2>
        <p class="article">
            AngularJS is a JavaScript framework. It can be added to an HTML page with a &lt;script&gt; tag.
            AngularJS extends HTML attributes with Directives, and binds data to HTML with Expressions.
            AngularJS is a JavaScript Framework AngularJS is a JavaScript framework. It is a library written in JavaScript.
        </p>
        <p class="btn-group">
            <a class="btn btn-info" href="https://angularjs.org/" target="_blank">Angular</a>
            <a class="btn btn-default" href="/hello">Hello Angular</a>
            <a class="btn btn-default" href="/country">Country</a>
            <a class="btn btn-default" href="/products">App</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="background-color: cornflowerblue">
        <img src="~/img/reactjs.jpg" />
        <h2>ReactJS</h2>
        <p class="article">
            ReactJS.NET makes it easier to use Facebook's React and JSX from C# and other .NET languages, focusing specifically
            on ASP.NET MVC (although it also works in other environments). It supports both ASP.NET 4 (with MVC 4 or 5), and ASP.NET
            Core MVC. It is cross-platform and can run on Linux via Mono or .NET Core. Take a look at the tutorial to see how easy
            it is to get started with React and ReactJS.NET!
        </p>
        <p class="btn-group">
            <a class="btn btn-info" href="https://reactjs.net/" target="_blank">React</a>
            <a class="btn btn-default" href="/ReactJS" title="Hello World for ReactJS">Hello ReactJS</a>
            <a class="btn btn-default" href="/ReactJS/CompoStyle" title="Components and Stylings">C n S</a>
            <a class="btn btn-default" href="/ReactJS/State" title="State">State</a>
        </p>
    </div>
    <div class="col-md-4" style="background-color: darkcyan">
        <img src="~/img/knockoutjs.jpg" />
        <h2>Knockout JS</h2>
        <p class="article">
            KnockoutJS is basically a library written in JavaScript, based on MVVM pattern that helps developers build rich and 
            responsive websites. The model separates the application's Model (stored data), View (UI) and View Model (JavaScript 
            Representation of model).
        </p>
        <p class="btn-group">
            <a class="btn btn-info" href="http://knockoutjs.com/" target="_blank">Knockout</a>
            <a class="btn btn-default" href="/KO" title="Hello World for KnockoutJS!">Hello KO</a>
            @*<a class="btn btn-default" href="/ReactJS/CompoStyle" title="Components and Stylings">C n S</a>*@
        </p>
    </div>
    <div class="col-md-4">
        <h2>Others</h2>
        <p class="article">
            I have discover some new JavaScript technologies: D3.js, Jasmin, Node.js, CoffeeScript, Typescript... as well as C# UnitTests. In the future, I will put them into this site.
        </p>
        <p></p>
    </div>
</div>