@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Emp.cshtml";
}

<div ng-controller="empCntrl">
    <h1> Employee Details Page</h1>
    <br />
    <input type="button" class="btnAdd btn btn-default" value="Add Employee" ng-click="AddEmployeeDiv()" />
    <br />
    <div class="divList">
        @*<p class="divHead">Employee List</p>*@
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Address</b></td>
                <td><b>Age</b></td>
                <td><b>Department</b></td>
                <td><b>Actions</b></td>
            </tr>
            <tr ng-repeat="employee in employees">
                <td>
                    {{employee.Id}}
                </td>
                <td>
                    {{employee.name}}
                </td>
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.address}} {{employee.city}} {{employee.state}} {{employee.zip}}
                </td>
                <td>
                    {{employee.age}}
                </td>
                <td>
                    {{employee.department}}
                </td>
                <td>
                    <input type="button" ng-click="editEmployee(employee)" class="btnAdd btn btn-default" value="Edit" />
                    <input type="button" ng-click="deleteEmployee(employee)" class="btnRed btn btn-default" value="Delete" />
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="divEmployee">
        <p class="divHead">{{Action}} Employee</p>
        <table>
            <tr>
                <td><b>Id:</b></td>
                <td>
                    <input type="text" disabled="disabled" class="input-sm" ng-model="employeeId" />
                </td>
                <td><b>Name:</b></td>
                <td>
                    <input type="text" id="empName" class="input-sm" ng-model="employeeName" />
                </td>
                <td><b>Email:</b></td>
                <td>
                    <input type="text" id="empEmail" class="input-sm" ng-model="employeeEmail" />
                </td>
                <td><b>Age:</b></td>
                <td>
                    <input type="text" id="empAge" class="input-sm" ng-model="employeeAge" />
                </td>
            </tr>
            <tr>
                <td><b>Address:</b></td>
                <td>
                    <input type="text" id="empAddr" class="input-sm" ng-model="employeeAddr" />
                </td>
                <td><b>City:</b></td>
                <td>
                    <input type="text" id="empCity" class="input-sm" ng-model="employeeCity" />
                </td>
                <td><b>State:</b></td>
                <td>
                    <input type="text" id="empState" class="input-sm" ng-model="employeeState" />
                </td>
                <td><b>Zipcode:</b></td>
                <td>
                    <input type="text" id="empZip" class="input-sm" ng-model="employeeZip" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="submitBtn" class="btnAdd btn btn-default" value="Save" ng-click="AddUpdateEmployee()" />
                </td>
            </tr>
        </table>
    </div>
</div>